version: '3.9'


services:
  py:
    build:
      context: ..
      dockerfile:
        docker/Dockerfile
    devices: 
      - /dev/video0:/dev/video0
    env_file:
      - common.env 
    image: kagemeka/kagemeka:py
    # runtime: nvidia
    restart: on-failure
    tty: true
    volumes:
      # - type: tmpfs
      #   target: /tmp/
      #   volume: 
      #     nocopy: true
      #   read_only: false
      - type: bind
        source: /tmp/.X11-unix
        target: /tmp/.X11-unix
        volume:
          nocopy: true
        read_only: false
      - type: bind
        source: $ROOT
        target: /root/kagemeka 
        volume: 
          nocopy: true
        read_only: false
      - type: bind
        source: ~/.aws
        target: /root/.aws
        volume: 
          nocopy: true
        read_only: false
    working_dir: /root/kagemeka
